.places {
    margin-top: 30px;
}

h1 {
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
}

.user,
.description {
    font-weight: bold;
    margin: 10px 0;
}

.owner {
    display: inline-block;
}
